HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
/.mvn/
!**/src/main/**/target/
!**/src/test/**/target/
*.DS_Store
*.class
*.swp
*~
/mvnw
/mvnw.cmd


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.settings/
.springBeans
.sts4-cache
bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/